body{
    overflow: hidden;
}

/* Main content area */

.container{
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.holder{
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    border-radius: 1rem;
    width: 30%;
    height: 7.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: rgb(224, 224, 224);
}

.holder:hover{
    background-color: #ededed;
}


/* list body */
.list-container{
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.list-main{
    width: 95%;
    height: 50%;
    margin: 1.25% auto;
    background-color: #f0e0f0;
    box-shadow: 0 0 0.25rem #444a;
    border-radius: 0.5rem;
    border: 1px solid #888a;
    overflow-y: auto;
    display: block;
}
.list-main th {
    position: sticky;
    top: 0;
    background-color: #d295d0;
    text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
  float: right;
}
th, td {
  text-align: left;
  padding: 8px;
  height: 2.5rem;
  max-height: fit-content;
}
tr:nth-child(even){
    background: rgba(224, 186, 222, 0.5);
}

/* width */
::-webkit-scrollbar {
    width: 0.75rem;
    background-color: #D295BE;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius:0;
    overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
     background: transparent;
    background-color: #f0e0f0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #E0BADE;
    border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(180, 119, 160);
}
